<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
    <!--TODO change link-->
    <a href="https://portmonetka.com.ua/" target="_blank" class="al-logo clearfix">Portmonetka</a>
    <div class="user-profile clearfix">
        <button class="btn btn-primary" style="float: right;margin-top: 7px;"
                type="button"
                title="Выйти из панели"
                data-toggle="modal" ng-click="vm.open('app/theme/components/pageTop/pageTopModal.html', 'sm')">
            <i class="fa fa-power-off" aria-hidden="true"></i>
        </button>

        <!--<msg-center></msg-center>-->
    </div>
</div>