<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Настроить новости">
                <div class="col-sm-4">
                    <form name="form"
                          class="form-horizontal"
                          enctype="multipart/form-data"
                          ng-submit="vm.editItem(0)">
                        <div class="col-sm-12">
                            <h3 class="with-line">Новость 1</h3>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formTitle1.$error.required&&
                                 (form.$submitted || form.formTitle1.$touched)||
                                 form.formTitle1.$error.minlength}">
                                <label for="formTitle1">Заглавие</label>
                                <input type="text" class="form-control" id="formTitle1"
                                       ng-model="vm.formTitle1"
                                       ng-minlength="4"
                                       name="formTitle1" placeholder="Первое заглавие"
                                       required>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formTitle1.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                     (form.$submitted || form.formText1.$touched)&&
                                     form.formText1.$error.minlength}">
                                <label for="formText1">Текст</label>
                                <textarea class="form-control" id="formText1"
                                          ng-model="vm.formText1"
                                          ng-minlength="4"
                                          name="formText1" placeholder="Текст"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formText1.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formLink1.$error.url&&
                                 (form.$submitted || form.formLink1.$touched)}">
                                <label for="formLink1">Ссылка</label>
                                <input type="url" class="form-control" id="formLink1"
                                       ng-model="vm.formLink1"
                                       name="formLink1" placeholder="ссылка">
                                <span class="help-block sub-little-text"
                                      ng-show="form.formLink1.$error.url">
                                    Некоректная ссылка! Ссылка должна быть вида http://example</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form name="form"
                          class="form-horizontal"
                          enctype="multipart/form-data"
                          ng-submit="vm.editItem(1)">
                        <div class="col-sm-12">
                            <h3 class="with-line">Новость 2</h3>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formTitle2.$error.required&&
                                 (form.$submitted || form.formTitle2.$touched)||
                                 form.formTitle2.$error.minlength}">
                                <label for="formTitle2">Заглавие</label>
                                <input type="text" class="form-control" id="formTitle2"
                                       ng-model="vm.formTitle2"
                                       ng-minlength="4"
                                       name="formTitle2" placeholder="Первое заглавие"
                                       required>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formTitle2.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                     (form.$submitted || form.formText2.$touched)&&
                                     form.formText2.$error.minlength}">
                                <label for="formText2">Текст</label>
                                <textarea class="form-control" id="formText2"
                                          ng-model="vm.formText2"
                                          ng-minlength="4"
                                          name="formText2" placeholder="Текст"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formText2.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formLink2.$error.url&&
                                 (form.$submitted || form.formLink2.$touched)
                                 }">
                                <label for="formLink2">Ссылка</label>
                                <input type="url" class="form-control" id="formLink2"
                                       ng-model="vm.formLink2"
                                       name="formLink2" placeholder="Ссылка">
                                <span class="help-block sub-little-text"
                                      ng-show="form.formLink2.$error.url">
                                    Некоректная ссылка! Ссылка должна быть вида http://example</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form name="form"
                          class="form-horizontal"
                          enctype="multipart/form-data"
                          ng-submit="vm.editItem(2)">
                        <div class="col-sm-12">
                            <h3 class="with-line">Новость 3</h3>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formTitle3.$error.required&&
                                 (form.$submitted || form.formTitle3.$touched)||
                                 form.formTitle3.$error.minlength}">
                                <label for="formTitle1">Заглавие</label>
                                <input type="text" class="form-control" id="formTitle3"
                                       ng-model="vm.formTitle3"
                                       ng-minlength="4"
                                       name="formTitle3" placeholder="Первое заглавие"
                                       required>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formTitle3.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                     (form.$submitted || form.formText3.$touched)&&
                                     form.formText3.$error.minlength}">
                                <label for="formText3">Текст</label>
                                <textarea class="form-control" id="formText3"
                                          ng-model="vm.formText3"
                                          ng-minlength="4"
                                          name="formText3" placeholder="Текст"></textarea>
                                <span class="help-block sub-little-text"
                                      ng-show="form.formText3.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                            </div>
                            <div class="form-group "
                                 ng-class="{'has-error':
                                 form.formLink3.$error.url&&
                                 (form.$submitted || form.formLink3.$touched)
                                 }">
                                <label for="formLink3">Ссылка</label>
                                <input type="url" class="form-control" id="formLink3"
                                       ng-model="vm.formLink3"
                                       name="formLink3" placeholder="Ссылка">
                                <span class="help-block sub-little-text"
                                      ng-show="form.formLink3.$error.url">
                                    Некоректная ссылка! Ссылка должна быть вида http://example</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
