<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" class="with-scroll">
                <div class="col-sm-12">
                    <form name="form"
                          enctype="multipart/form-data"
                          ng-submit="vm.createItem()">
                        <div class="col-sm-12">
                            <h3 class="with-line">Основные параметры</h3>
                            <div class="col-sm-12">
                                <div class="form-group"
                                     ng-class="{'has-error':
                                 form.formName.$error.required&&
                                 (form.$submitted || form.formName.$touched)||
                                 form.formName.$error.minlength}">
                                    <label for="formName">Название *</label>
                                    <input type="text" class="form-control" id="formName"
                                           ng-model="vm.formName"
                                           ng-minlength="4"
                                           name="formName" placeholder="Название категории"
                                           required>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formName.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     form.formPrice.$error.required&&
                                     (form.$submitted || form.formPrice.$touched)}">
                                    <label for="formPrice">Цена *</label>
                                    <input type="number" class="form-control" id="formPrice"
                                           ng-model="vm.formPrice"
                                           min="0"
                                           name="formPrice" placeholder="Цена"
                                           required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     form.formPriceOld.$error.required&&
                                     (form.$submitted || form.formPriceOld.$touched)}">
                                    <label for="formPrice">Старая цена</label>
                                    <input type="number" class="form-control" id="formPriceOld"
                                           ng-model="vm.formPriceOld"
                                           min="0"
                                           name="formPriceOld" placeholder="Старая цена">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     form.formPriceOpt.$error.required&&
                                     (form.$submitted || form.formPriceOpt.$touched)}">
                                    <label for="formPrice">Оптовая Цена *</label>
                                    <input type="number" class="form-control" id="formPriceOpt"
                                           ng-model="vm.formPriceOpt"
                                           min="0"
                                           name="formPriceOpt" placeholder="Оптовая Цена"
                                           required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="has-success">
                                    <div class="checkbox">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" ng-model="vm.formInStock" value="true">
                                            <span>В наличии</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="has-warning">
                                    <div class="checkbox">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" ng-model="vm.formInRecommended" value="true">
                                            <span>В рекомендации</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     form.formCount.$error.required&&
                                     (form.$submitted || form.formCount.$touched)}">
                                    <label for="formPrice">Количество *</label>
                                    <input type="number" class="form-control" id="formCount"
                                           ng-model="vm.formCount"
                                           min="0"
                                           name="formCount" placeholder="Количество"
                                           required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     form.formDiscount.$error.required&&
                                     (form.$submitted || form.formDiscount.$touched)}">
                                    <label for="formDiscount">Скидка *</label>
                                    <input type="number" class="form-control" id="formDiscount"
                                           ng-model="vm.formDiscount"
                                           min="0"
                                           name="formDiscount" placeholder="Количество"
                                           required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"
                                     ng-class="{'has-error':
                                     form.formTextDescription.$error.required&&(form.$submitted ||
                                     form.formTextDescription.$touched)||
                                     form.formTextDescription.$error.minlength}">
                                    <label for="formTextDescription">Описание *</label>
                                    <textarea class="form-control" id="formTextDescription"
                                              ng-model="vm.formTextDescription"
                                              ng-minlength="4"
                                              name="formTextDescription" placeholder="Описание товара"
                                              required></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formTextDescription.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Категория</label>
                                    <tree-switcher class="tree-dropdown" data="vm.categoryTreeCild"
                                                   selected="vm.formParentCategory"></tree-switcher>
                                </div>
                            </div>

                            <h3 ng-if="vm.formParentCategory.filters_check" class="with-line">Характеристики</h3>
                            <div class="col-sm-12" ng-repeat="item in vm.formParentCategory.filters_check">
                                <div class="form-group "
                                     ng-class="{'has-error': !vm.formFilters[item.translit]}">
                                    <label for="{{item.translit}}">{{item.name}} *</label>
                                    <input type="text" class="form-control" id="{{item.translit}}"
                                           ng-model="vm.formFilters[item.translit]"
                                           ng-minlength="4"
                                           name="formFilters" placeholder="{{item.name}}"
                                           required>
                                    <span class="help-block sub-little-text"
                                          ng-show="!vm.formFilters[item.translit]">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12">
                            <h3 class="with-line">Изображения</h3>
                            <!--fileUpload-->
                            <div class="col-sm-12">
                                <div class="form-group files-upload"
                                     ng-class="{'has-error':
                                     form.formImg.$error.required&&
                                     (form.$submitted ||
                                     form.formImg.$touched)}">
                                    <input id="formImg"
                                           type="file"
                                           accept="image/*"
                                           my-file="vm.formImg"
                                           name="formImg"
                                           required="required"
                                           multiple>
                                </div>
                            </div>
                            <div class="col-sm-12 thumb-upload">
                                <div ng-repeat="item in vm.formImg">
                                    <div ng-thumb="{ file: item, height: 100 }"></div>
                                </div>
                            </div>
                            <!--fileUpload-->
                        </div>

                        <div class="col-sm-12">
                            <h3 class="with-line">SEO</h3>
                            <div class="col-sm-12">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                 form.formMetaTitle.$error.required&&
                                 (form.$submitted || form.formMetaTitle.$touched)||
                                 form.formMetaTitle.$error.minlength}">
                                    <label for="formMetaTitle">Title *</label>
                                    <input type="text" class="form-control" id="formMetaTitle"
                                           ng-model="vm.formMetaTitle"
                                           ng-minlength="4"
                                           name="formMetaTitle" placeholder="Title"
                                           required>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formMetaTitle.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     (form.$submitted || form.formMetaDescription.$touched)&&
                                     form.formMetaDescription.$error.minlength}">
                                    <label for="formMetaDescription">Description</label>
                                    <textarea class="form-control" id="formMetaDescription"
                                              ng-model="vm.formMetaDescription"
                                              ng-minlength="4"
                                              name="formMetaDescription" placeholder="Description"></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formMetaDescription.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group "
                                     ng-class="{'has-error':
                                     (form.$submitted || form.formMetaDescription.$touched)&&
                                     form.formMetaDescription.$error.minlength}">
                                    <label for="formName">Keywords</label>
                                    <textarea class="form-control" id="formMetaKeywords"
                                              ng-model="vm.formMetaKeywords"
                                              ng-minlength="4"
                                              name="formMetaKeywords" placeholder="Keywords"></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formMetaKeywords.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"
                                     ng-class="{'has-error':
                                     (form.$submitted || form.formSeoText.$touched)&&
                                     form.formSeoText.$error.minlength}">
                                    <label for="formSeoText">Seo-текст</label>
                                    <textarea id="formSeoText" froala="vm.editorOptions" ng-model="vm.formSeoText"></textarea>
                                    <span class="help-block sub-little-text"
                                          ng-show="form.formSeoText.$error.minlength">
                                    Слишком короткий текст! Минимальная длинна 4</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <ul class="pager ba-wizard-pager">
                                <li class="previous">
                                    <button ng-click="vm.goBack()"
                                            type="button" class=" btn btn-primary">
                                        <span aria-hidden="true">&larr;</span> Назад
                                    </button>
                                </li>
                                <li class="next">
                                    <button ng-disabled="form.$invalid&&!form.formImg.$valid" type="submit"
                                            class="btn btn-success">Создать
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>